img{
    height:509px;
    width:1280px;
}
.text{
    position: relative;
 }
.text-on-image {
   position: absolute;
   right:48%;
   left:1%;
   top:1%;
   bottom:30%;
   font-size:45px;
   text-align: center;
   text-shadow: 2px 2px rgba(13, 38, 70, 0.959);
   text-justify: inter-word;
 }